@model IEnumerable<Cooking.Models.Measure>

@{
    ViewData["Title"] = " " + ViewData["catName"] +"base :" + ViewData["catmes"]+"";
}

<h1>Measure for  @ViewData["catName"]  base: @ViewData["catmes"]</h1>
<h5 class="alert" >@TempData["suc"]</h5>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CategoryCode)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.RatioToBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasureCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CategoryCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RatioToBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MeasureCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MeasureCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MeasureCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
